useDynLib(ProjectionBasedClustering)
export(CCA)
export(ICA)
export(Isomap)
export(KruskalStress)
export(MDS)
export(NeRV)
export(PCA)
export(PolarSwarm)
export(PlotProjectedPoints)
export(ProjectionBasedClustering)
export(ProjectionPursuit)
export(Projection2Bestmatches)
export(SammonsMapping)
export(UniformManifoldApproximationProjection)
export(tSNE)
export(interactiveClustering)
export(interactiveGeneralizedUmatrixIsland)
export(interactiveProjectionBasedClustering)
export(IPBC)

import(deldir)
import(GeneralizedUmatrix)
import(ggplot2)
import(Rcpp)
import(shiny)

importFrom('geometry','delaunayn')
importFrom("graphics", "axis", "matplot", "plot", "symbols", "title", "lines", "par", "rasterImage")
importFrom("grDevices", "colorRamp", "dev.off", "png", "col2rgb")
importFrom("plotly","plotlyOutput","event_data","renderPlotly","plot_ly","add_contour","add_markers","add_segments","layout")
importFrom("shinythemes","shinytheme")
importFrom("shinyjs","hide","useShinyjs","toggle", "hidden", "enable", "disable")
importFrom("stats", "quantile", "cmdscale", "cov", "dist", "lsfit", "prcomp",
             "rnorm", "runif", "sd", "as.dendrogram", "as.dist", "cutree", "hclust", "order.dendrogram")
importFrom("utils", "combn")

#importFrom('spdep','gabrielneigh')
#importFrom('FastKNN','k.nearest.neighbors')
#importFrom('pcaPP','cor.fk')
#importFrom('fastICA','fastICA')
#importFrom('MASS','sammon')
#importFrom('tsne','tsne')
#importFrom('vegan','isomap')

